$purple: #CC33FF;

body {
    background-image: image-url("grungy-greenish-background.jpg");
}

h1 {
  text-align: center;
  padding-bottom: 10px;
}
table {
  border-top: 2px solid $purple;
}
.purple {
  color: $purple;
}
.vertical-center {
  min-height: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
